body,
html {
  margin: 0;
  padding: 10px 0;
  min-height: 100vh;
}

body {
  background-image: url(tux.png);
  background-size: 70px;
  display: flex;
}

nav {
  position: fixed;
}

nav a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  background-color: white;
  box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
  padding: 10px;
  color: black;
  font-weight: bolder;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 40px black;
}

section h1 {
  font-family: 'Times New Roman', Times, serif;
}

section img {
  width: 80%;
  margin: 0 auto;
}

#zyd {
  animation: flash 0.5s infinite;
  font-weight: bolder;
}

section p {
  margin: 20px;
  border: 2px solid black;
  background-color: lightgray;
  padding: 20px;
  text-align: left;
  font-weight: bolder;
}



@keyframes flash {
  from {
    color: red;
  }

  to {
    color: white;
  }
}
